<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/modules/index.js"></script>
    <link rel="stylesheet" href="/modules/stylesheet.css">
    <title>Guessiz Login</title>
</head>
<body class="Login">
    <%- include('../dashboard.ejs') %>
    <div class="Want">
       <h3> Welcome : <%=name%> </h3>
        <ul>
            <li><h3>Quiz Attended</h3></li>
            <li><h3>Quiz Created</h3></li>
            <li><h3>Quiz to be Attended</h3></li>
            <li><h3>Quiz to be Conducted</h3></li>
        </ul>
    </div>
</body>