<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    
    <title>Guessiz Login</title>
</head>
<body class="Login">  
    <form action='/portal/index' method="post">

    <div class="Want">
        <img src="/modules/Images/Logo.jpg" alt="Logo">
        <h3>Email ID</h3>
        <div>
            <input name="email" id="email" type="text" placeholder="example@abc.com">
        </div>
        <h3>Password</h3>
        <input id="lpassword" name="lpassword" type="password" placeholder="Password" >
        <button id="bt1" type="submit" >Login</button>
        <a class="LR" href="register">>>Want to Register </a>
        <h3><%- include('./error.ejs') %></h3>
    </div>
    
    </form> 
    
    <script src="/LoginRegisterportal/Node/Register.js">
    </script>
        <script>
      
        </script>
    
</body>
</html>