body{
    background:url(/modules/Images/mountains.jpg);
    width: auto;
    height: fit-content;
    background-size:2000px;
    background-repeat: no-repeat;
    background-color: rgb(235, 107, 52);
    }
.Login{
    height: fit-content;
    width: fit-content;
}

.Want{
    display:inline;
    background-color: none;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
    border-radius: 20px;
    width: auto;
    height:auto;
    max-width: 1750px;
    text-align: center;
    padding: 20px 30px;
    border: 1px solid white;
    backdrop-filter:blur(40px);
    box-shadow: 0 0 30px rgb(0,0,0,1);
}
.Want h1{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: white;
    font-size: 45px;
}
.Login .Want ul{
    list-style: none;
}
.Login .Want input{
    height: 40px;
    width: 97%;
    margin: 0px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 5px 5px;
    font-size: larger;
    color: white;
    border:none;
    background-color: transparent;
    outline: none;
    border: 1px solid gray;
    backdrop-filter:blur(20px);
    
}
.Login .Want input:hover{
    border-color:white;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
}
.Login .Want input::placeholder{
    color:lightgray;
    border-color:white;
    text-align: center;
    background-color: none;
    background-repeat: 1;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Login .Want h3 {
    padding-top: 40px;
    font-size: x-large;
    padding: 0%;
    color: white ;
    margin: 10px;
    font-size: xx-large; 
    font-style: italic;
    font-weight: 700;

}
.Login .Want button{
    width: 99%;
    height: 55px;
    border: none;
    outline: none;
    background-color:rgb(231, 151, 2);
    color: white;
    border: 1px solid lightgray;
    border-radius: 30px;
    margin-top:10px ;
    margin-bottom: 5px;
    padding: 10p 10px 10px;
    font-size: larger;
    margin-bottom: 20px;
}
.Login .Want button:hover{
    border: 1px solid white;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
}

.Login .Want a{
    font-size: medium;
    width: max-content;
    color: rgb(231, 229, 229);
    text-decoration: none;
}
.Login .Want a:hover{
    color:white;
    font-style: italic;
}
.Login .Want img{
    width: 200px;
    border-radius: 100px;
    box-shadow: 0 0 10px #000;
}
.Dashboard{
    position: absolute;
    align-items: start;
    text-decoration: none;
    width:100%;
    flex-wrap: wrap;
    background-color: black;
    text-align: center;
    border-radius: 60px;

}
.Dashboard a{
    text-decoration: none;
    color: white;
    font-size: larger;
    padding: 30px 30px 30px 30px;
}
.Dashboard ul li a:hover{
    background-color: white;
    color: black;
}
.Dashboard ul{
    display: 'flex';
    list-style: none;
}
.Dashboard ul li{
    display: inline-block;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px ;
    
}
.Want textarea {
    width: 1000px;
    height:200px;
    margin-bottom: 0%;
    align-self: center;
    position:static;
    font-size:large
}