<head>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
    <nav class="Dashboard">
        <ul>
            <li><a href="home">Home</a></li> 
            <li><a href="quizattendance">Quiz Attendance</a></li>
            <li><a href="quizcreate">Quiz Creation</a></li>
            <li><a href="logout">Logout </a></li>
        </ul>
    </nav>

